.TodoList {
  //
}

.TodoList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(201, 191, 191);
  margin-top: 10px;
  padding: 5px;
}

.TodoList__item_completed {
  background-color: rgb(112, 252, 187);
}

.TodoList__text {
  margin-right: 10px;
}
