.Contact__titleContainer {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.Contact__titleContainer_item {
  margin-right: 10px;
}

.ContactList__item {
  display: flex;
  justify-content: space-between;
  outline: 1px solid grey;
  padding: 10px;
  width: 400px;
}

.ContactList__item:not(:last-child) {
  margin-bottom: 10px;
}
